.wprig-grid-image{
    display: grid;
}

.wprig-flexbuttons{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0!important;
    justify-content: space-evenly;
    li{
        list-style:none;
        margin: 0;
        padding: 0;
        a{
            text-decoration: none;
        }
    }
}

.wprig-grid-image-item {
    position: relative;

    figure {
        position: relative;

        figcaption {
            position: absolute;
            top: 0;
            left: 0;

            p {
                background: #333;
                padding: 10px;
                margin: 20px 10px;
                color: #fff;
                font-size: 12px;
            }
        }
    }

    .wprig-overlay-panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        transition: 0.35s opacity;
        

        ul.wprig-panel-actions {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;

            a {
                padding: 10px;
                text-decoration: none;
                color: #fff;                
                background: #000;
                margin: 0 5px;
                display:block;
                padding: 10px 20px
            }
        }        
    }

    &:hover .wprig-overlay-panel{
        opacity: 1;
    }
}

.wprig-gallery .slick-slide img{
    margin:auto;
}

.edit-post-visual-editor {
    .swiper-container{
        max-width: 890px;
        
        .swiper-pagination{
            bottom : 0px;
        }
    }
}

