.wprig-flipbox-body{
    position: relative;
    width: 100%;
    height: inherit;
    transform-style: preserve-3d;
    overflow: hidden;
}

.wprig-front, .wprig-back{
    position: absolute!important;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transition: .5s ease-in-out;
	backface-visibility: hidden;
	display: flex;
	height: inherit;
	justify-content: center;
	flex-direction: column;
}

.wprig-flipbox-body .wprig-front ,
.wprig-flipbox-body .wprig-back {
    transition-duration: 500ms;
}

.wprig-flipbox-body.wprig-flip--left .wprig-front {
    transform:perspective(1000px) rotateY(0deg)
}

.wprig-flipbox-body.wprig-flip--left .wprig-back {
    transform: perspective(1000px) rotateY(180deg);
}

.wprig-flipbox-body.wprig-flip--left:hover .wprig-front{
    transform: perspective(1000px) rotateY(-179.9deg);
}

.wprig-flipbox-body.wprig-flip--left:hover .wprig-back{
    transform: perspective(1000px) rotateY(0deg);
}

.wprig-block-image figure .wprig-image-container img{
    width: 100%;
}

.wprig-flipbox-body.wprig-flip--right .wprig-front{
    transform: perspective(1000px) rotateY(0deg);
}

.wprig-flipbox-body.wprig-flip--right .wprig-back {
    transform: perspective(1000px) rotateY(-180deg);
}

.wprig-flipbox-body.wprig-flip--right:hover .wprig-front{
    transform: perspective(1000px) rotateY(179.9deg);
}

.wprig-flipbox-body.wprig-flip--right:hover .wprig-back {
    transform: perspective(1000px) rotateY(0deg);
}

.wprig-flipbox-body.wprig-flip--bottom .wprig-front{
    transform: perspective(1000px) rotateX(0deg);
}

.wprig-flipbox-body.wprig-flip--bottom .wprig-back {
    transform: perspective(1000px) rotateX(-180deg);
}

.wprig-flipbox-body.wprig-flip--bottom:hover .wprig-front{
    transform: perspective(1000px) rotateX(179.9deg);
}

.wprig-flipbox-body.wprig-flip--bottom:hover .wprig-back {
    transform: perspective(1000px) rotateX(0deg);
}

.wprig-flipbox-body.wprig-flip--top .wprig-front{
    transform: perspective(1000px) rotateX(0deg);
}

.wprig-flipbox-body.wprig-flip--top .wprig-back {
    transform: perspective(1000px) rotateX(180deg);
}

.wprig-flipbox-body.wprig-flip--top:hover .wprig-front{
    transform: perspective(1000px) rotateX(-179.9deg);
}

.wprig-flipbox-body.wprig-flip--top:hover .wprig-back {
    transform: perspective(1000px) rotateX(0deg);
}
