.wprig-block-videopopup-wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: 400ms;
    &.wprig-alignment-left {
        justify-content: flex-start;
    }
    &.wprig-alignment-center {
        justify-content: center;
    }
    &.wprig-alignment-right {
        justify-content: flex-end;
    }
    .wprig-block-videopopup{
        a{
            display: block;
            text-decoration: none !important;
        }
        .wprig-video-popup-prefix,
        .wprig-video-popup-postfix {
            transition: 400ms;
        }
        .wprig-btn-icon-wrapper {
            display: inline-block;
        }
        .wprig-btn-icon{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: 400ms;
            span.wprig-ripple {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                box-shadow: 0 0 0 15px rgba(white, .8), 0 0 0 30px rgba(white, .6), 0 0 0 45px rgba(white, .4);
                animation: wprigRipple 2s infinite;
            }
        }
        &.wprig-size-small .wprig-btn-icon{
            width: 80px;
            height: 80px;
            font-size: 24px;
        }
        &.wprig-size-medium .wprig-btn-icon{
            width: 100px;
            height: 100px;
            font-size: 30px;
        }
        &.wprig-size-large .wprig-btn-icon{
            width: 140px;
            height: 140px;
            font-size: 40px;
        }
    }

    .wprig-block-videopopup-overlay {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        transition: 400ms;
    }
}

@keyframes wprigRipple {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.edit-post-visual-editor i {
    font-style: initial !important;
}