.yani-btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    &--small{
        padding: 5px;
        font-size:10px;
    }
    &--medium{
        padding: 10px;
        font-size:12px;
    }
    &--large{
        padding: 20px;
        font-size:20px;
    }
}



.yani-btn-wrapper--center {
    display: flex;
    justify-content: center;
}

.yani-btn-wrapper--left {
    display: flex;
    justify-content: flex-start;
}

.yani-btn-wrapper--right {
    display: flex;
    justify-content: flex-end;
}
