.wprig-block-wrapper-block {
	transition: border-color 400ms, background-color 400ms, box-shadow 400ms;
}

.wp-block-wprig-panel > div {

    // transform: translateY(-50%);
    float: left;
    width: 100%;
    bottom: -115px;
    position: absolute;
}

.wp-block-wprig-panel {
    overflow: visible;
    z-index: 6!important;
    width: 80%;
    max-width: 100%!important;
	margin: auto;
}